# History files
.Rhistory

# R Data files
*.Rda

# Example code in package build process
*-Ex.R

# misc files
*.txt

# Latex files
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.ps
Final report/.project
Final report/.settings/org.eclipse.ltk.core.refactoring.prefs
Final report/.texlipse
Final report/bibliography.bib.bak
/tmp
